@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}

path {
  cursor: pointer;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

input {
  display: flex;
  float:left;
  width:100px;
  margin-bottom:100px;
}

#pieChart {
  /* border: red 1px dotted; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto
}

.text-container {
  /* border: 1px dotted; */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#segmentText {
  width: 100%;
  padding: 20px;
  text-align: centre;
}

#segmentTitle {
  width: 100%;
  padding: 20px;
  text-align: centre;
}

.row {
  display: flex;
  justify-content: center;
  padding: 18px;
}

#dataSelection
 {min-width: 200px;
  font-size: 22px;
  background-color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}